.pageGo{
    outline: none;
    border: none;
    text-decoration: none;
    background: white;
    position: fixed;
    bottom: 3.8em;
    right: 2em;
    width: 10em;
    height: 10em;
    padding: 0.2rem;
    border-radius: 50%;
    font-size: 0.5rem;
    font-weight: bold;
    color: #626262;
    cursor: pointer;
    animation: move 1000ms alternate infinite;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
}
.pageGo:hover{
    background: #626262;
    color: white;
}

@keyframes move{
    to{
        transform: translateY(0.5em);
    }
    from{
        transform: translateY(0em);
    }

}