.container{
    margin: 0 auto;
    width: 100%;
    margin: 1rem 0 2rem 1rem;
}

.title{
    width: 90%;
    margin:0 0 1rem 0 ;
    font-size: 1.5rem;
}
.line{
    width: 90%;
    height: 1px;
    margin-top: 1rem;
    background: #dbdbdb;
}

@media screen and (max-width: 31.25em){
    iframe{
        height: 19rem;
    }
    .title{
        font-size: 1rem;
    }
}

@media screen and (max-width: 25.875em){
    iframe{
        width: 95%;
        height: 12rem;
        text-align: center;
    }
    .title{
        font-size: 1rem;
    }
}

