.container{
    width: 30%;
    margin: 0.3rem;
}
.wrap{
    display: flex;
    flex-direction: column;
    margin: 0.3rem 0.3rem 2rem 0.3rem;
}
.img{
    cursor: pointer;
    transition: transform 300ms ease-in;
    
}
.img:hover{
    transform: scale(1.03);
}

.title{
    font-size: 0.8rem;
    font-weight: 600;
    height: 10%;
    margin-bottom: 0;
}

.des{
    font-size: 0.4rem;
    color: #8a8a8a
}

@media screen and (max-width: 700px){
    .container{
        width: 96%;
    }
}

@media screen and (max-width: 375px){
    .img{
        width: 100%;
    }
}