.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background:#ffffff;
    margin-top: 3rem;
}

.items{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem 0 0 1rem;
}

@media screen and (max-width: 43.75em){
    .items{
        flex-direction: row;
    }
}
