.container{
  background: #ffffff;
  box-sizing: border-box;
}
.content{
  display: flex;
  margin-top: 2em;
}
.list{
  flex-basis: 18%;  
}

.items{
  flex-basis: 82%;
}


@media screen and (max-width: 31.25em) {
  .list{
    flex-basis: 15%;  
  }
  .items{
    flex-basis: 80%;
  }
}
