nav{
    position: fixed;
    top: 0;
    width:100%;
    display: flex;
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9e8e8;
    padding: 0.4rem 0.2em 0.4rem 0.6rem;
    margin-bottom: 0;
    z-index: 1
}

.logo{
    display: flex;
    align-items: center;
}

.logoImg{
    width: 2rem;
    height: 2rem;
    margin-right: 5px;
}

.logoName{
    font-weight: bold;
    font-size: 1rem;
}

.form{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.5;
}

.input{
    font-size: 0.7rem;
    border: none;
    outline: none;
    width: 100%;
    background: #f7f7f7;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
}

.inputBtn{
    border: none;
    cursor: pointer;
    margin-left: 1em;
    border-radius: 0.6em;
    padding: 1em;

}

.button{
    cursor: pointer;
    background: transparent;
    outline:0;
    border:none;
    font-size: 2.1rem;
    color: #b00f6f3d;
    margin:0.2rem 0.8rem 0 0;
}

@keyframes ani {
    from{
        transform:rotate(1deg);
    }
    to{
        transform:rotate(-1deg);
    }
}

.button:hover{
    color: #b00f6f;
    transform: scale(1.03);
}

.right{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 50.6em){

    .logoName{
        display:none;
    }
    .logoImg{
        width: 1.7rem;
        height: 1.7rem;
    }
    .right{
        padding: 0.1em;
    }

    .inputBtn{
        margin-left:0.3em;
        padding: 0.1em 0.77em;
    }

    .button{
        font-size:2rem;
    }
}

@media screen and (max-width: 26em){
    .logoName{
        font-size: 0.7rem;
    }
    .logoImg{
        width: 1.5rem;
        height: 1.5rem;
    }
    .input{
        font-size: 0.6rem;
    }

}